/* Add CSS styling here */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Heebo', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    overflow-x: hidden;
}

/* Header */
header {
    height: 50vh;
    width: 100%;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 12rem;
    color: black;
    text-transform: capitalize;
    margin: 2rem 0;
    position: relative;
    left: 44.3vw;
    animation: h1 5s 1;
}

@keyframes h1 {
  from {left: -70vw;}
  to {left: 44.3vw;}
}

h2 {
   font-family: 'Reenie Beanie', cursive;
    font-size: 8.5rem;
    color: orange;
    margin: 4rem 0;
    text-transform: capitalize;
    animation-name: h2;
    animation-duration: 4s;
    animation-delay: 5s;
}

@keyframes h2 {
  0%   {color: red;}
  25%  {color: indigo;}
  50%  {color: green;}
  100% {color: orange;}
}

/* Nav */
header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    display: block;
    padding: 25px 70px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition-duration: 0.4s;
   }

header nav ul li a:hover {
    border: 1px black solid;
    background-color: white;
    color: black;
  }

header nav ul li:nth-child(1) {
    background-color: orange;
   }
header nav ul li:nth-child(2) {
    background-color:green;
   }
header nav ul li:nth-child(3) {
    background-color: indigo;
   }
header nav ul li:nth-child(4) {
    background-color: red;
   }

span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
a:hover span {
    padding-right: 25px;
  }
  
a:hover span:after {
    opacity: 1;
    right: 0;
  }

.header-text {
    width: 80%;
    margin: auto;
    font-style: oblique;
}

/* Main */
main img{
    width: 100%;
    height: 49vh;
    object-fit: cover;
    object-position: center 20%;
}


/* Social Media Icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  /* Gallery */
/* .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10% 0;
}

.gallery div {
  width: 33%;
} */

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}

footer nav ul li {
  list-style-type: none;
}

footer nav {
  width: 80%;
}

.contact-me {
  width: 150px;
  margin: auto;
}

.contact-me a{
  display: block;
  padding: 25px 10px;
  text-decoration: none;
  text-transform: uppercase;
  background-color:#FF1CAE;
  color: white;  
 }

 .contact-me a:hover{
   border: 3px solid #FF1CAE;
  background-color: white;
  color: #FF1CAE;  
 }

.social-media {
  display: flex;
  justify-content: space-between;
  width:50%;
  margin: auto;
  padding: 5rem;
}